.certif-container {
  background-color: rgb(16, 8, 45);
  font-family: Preahvihear, sans-serif;
  height: 100vh;
}
.content-part {
  margin-top: 5%;
  display: flex;
}
.cert-img-container {
  margin-left: 15%;
}
.line-class {
  border: 1px solid white;
  margin-left: 7%;
  height: 350px;
}
#home-head {
  color: white;
  font-size: 65px;
  margin-left: 30%;
  margin-top: 2%;
}
#generate-img {
  height: 280px;
  width: 400px;
  border-radius: 8px;
  margin-left: 12%;
  margin-top: 2%;
  box-shadow: 1.5px 1.5px 5px rgb(184, 53, 184, 0.9);
}
#viewcertif-img {
  height: 280px;
  width: 390px;
  border-radius: 8px;
  margin-left: 12%;
  margin-top: 2%;
  box-shadow: 1.5px 1.5px 5px rgb(184, 53, 184, 0.9);
}
