.home-container {
  font-family: Preahvihear, sans-serif;
}
.heroimage {
  height: 450px;
  width: 450px;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 13%;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 5px rgb(184, 53, 184, 0.9);
}
.hero-img {
  height: 450px;
  width: 450px;
  margin-right: 95px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(255, 255, 0, 0.7);
  margin-bottom: 13%;
}
.herosec-certif {
  display: flex;
}
.hero-content {
  margin-left: 200px;
  margin-top: 40px;
}
.hero-welcome {
  color: white;
  margin-left: 27%;
  margin-top: 3%;
  font-size: 65px;
  width: 70%;
}
.herosec-line {
  border: 1px solid rgb(255, 255, 255);
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 2%;
}
.herosec-vault {
  display: flex;
}
