.verif-container {
  background-color: rgb(16, 8, 45);
  font-family: Preahvihear, sans-serif;
  height: 100vh;
}
.verif-contents {
  border-radius: 8px;
  border: 2px solid white;
  width: 32%;
  height: 30%;
  margin-left: 31%;
  margin-top: 5%;
}
